@charset "UTF-8";/*
* Default stylesheet for animated-lamp
* Copyright 2017-2022 Kyodirect
* Copyright 2022 jko64
*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    width: 800px;
    margin: auto;
}
.headercontainer {
    width: 700px;
    margin: auto;
}
.nav {
    color: white;
    background: black;
    padding: 5px;
}
.navlink {
    text-decoration: none;
    color: #FFF;
}
.extranav {
    height: 30px;
    background-color: grey;
    color: white;
    padding: 4px;
}
.imgheader {
    padding-bottom: 0px;
}
.active {
    border-bottom: 1px solid blue;
}
.sidebar {
    float: left;
}
.content {
    float: left;
    border: 1px solid black;
    margin-left: 7px;
    margin-top: 5px;
    background-color: white;;
    width: 535px;
}
.contentnosb {
    float: none;
}
.contentsbright {
    float: left;
}
.sidebarright {
    float: right;
}
.footer {
    border: none;
}
.time {
    float: right;
    text-align: right;
}
#no {
    margin-top: -5px;
}
.con {
    background-color: #FFF;
    border: 1px solid black;
    font-size: 12px;
    width: 120px;
    margin-top: 5px;
    margin-bottom: 7px;
}
/* #sep {

} */
.nav-link {
display: block;
padding: 1px;
text-align: right;
}
/* a:hover.nav-link {
background-color: #738278;
} */
.conb {
background-color: #000;
border-bottom: 1px solid black;
color: #FFF;
text-align: center;
font-size: 10pt;
}
.subheader {
width: auto;
background-color: #000;
color: #FFF;
padding: 0px;
margin: 0;
font-size: 17px;
text-align: center;
display: block;
margin-top: -23px;
padding-bottom: -23px;
}
.subfooter {
width: auto;
background-color: #000;
color: white;
padding: 0px;
margin: 0;
font-size: 17px;
text-align: center;
display: block;
padding-top: -23px;
text-align: left;
}
.middleparagraph {
margin-top: -20px;
margin-bottom: 5px;
text-align: center;
}
.bottomparagraph {
margin-top: 46%;
margin-bottom: 0;
text-align: center;
}
.dailyimg {
    text-align: center;
    padding: 5px;
}
.dailyimg > small {
    font-size: 8pt;
}
.centerbar {
    margin-top: -20px;
}
.ad {
    margin: auto;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 1rem 1.5rem;
    width: 35rem;
}

.modal-content > h2 {
    line-height: 0.3;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    background-color: #000;
}

.close-button:hover {
    background-color: #FFF;
    color: #000;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}
.btn {
    padding: 3px;
    text-decoration: none;
    /* fun fact press ctrl and the slash to get ez comments in vscode */
    background-color: black;
    color: white;
}
.btn:hover {
    background-color: white;
    color: black;
}
input {
    border: 1px solid black;
}
::placeholder {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8pt;
}