@charset "UTF-8";/*
* Default stylesheet for animated-lamp
* Copyright 2017-2022 Kyodirect
* Copyright 2022 jko64
*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    width: 650px;
    margin: auto;
}
.nav {
    color: white;
    background: black;
    padding: 5px;
}
.navlink {
    text-decoration: none;
    color: #FFF;
}
.extranav {
    height: 30px;
    background-color: grey;
    color: white;
    padding: 4px;
}
.imgheader {
    padding-bottom: 0px;
}
.active {
    border-bottom: 1px solid blue;
}
.sidebar {
    float: left;
}
.content {
    float: right;
}
.contentnosb {
    float: none;
}
.contentsbright {
    float: left;
}
.sidebarright {
    float: right;
}
.footer {
    border: none;
}
time {
    float: right;
    text-align: right;
}